{% extends 'base.html.twig' %}
{% block title %}
    Administrator - Overall Ranking
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5><b>Encoding Progress (<a href="{{ path('admin_cluster_status') }}">more info <i class="fa fa-info-circle" aria-hidden="true"></i></a>)</b></h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: {{ percentageStatus }}%">
                        <span class="sr-only">{{ percentageStatus }}% Complete (success)</span>
                        {{ percentageStatus|number_format(0) }}%
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: {{ remainingPercentage }}%">
                        <span class="sr-only">{{ remainingPercentage }}10% Complete (danger)</span>
                        {{ remainingPercentage|number_format(0) }}%
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {#<h2 class="animated bounceInLeft">Welcome, Administrator!</h2>#}
            <h2 class="text-center"><strong>Overall Ranking</strong><span> <a href="{{ path('report_overall_ranking') }}" target="_blank" class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i> Print</a></span></h2>
            {#<hr>#}
            <div class="col-md-12">
                {% set cnt = 1 %}
                {% set rank = 1 %}
                {#{% set pick = [1,7,1,7]  %}#}
                {#{% set pick_pos = 0 %}#}
                {#{% set pos = 0 %}#}
                {% for candidate in candidates %}
                    {% if cnt == candidate.loc_id %}
                    <table id="tbl_{{ cnt }}" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Nickname</th>
                            <th>Total Votes</th>
                            <th>Vote Information</th>
                        </tr>
                        </thead>
                        <tbody>
                        <hr>
                        <h4><b>{{ candidate.pos_name }}</b></h4>
                        <hr>
                        {% set cnt = cnt + 1 %}
                        {% set rank = 1 %}
                        {#{% set pos = 0 %}#}
                        {#{% set pick_pos = pick_pos + 1 %}#}
                    {% endif %}
                    {#<tr {% if pos < pick[0] %} style="font-size: 20px;" {% endif %}>#}
                    <tr>
                        <td class="text-center"><strong>#{{ rank }}</strong></td>
                        <td>{{ candidate.name }}</td>
                        <td>{{ candidate.nickname }}</td>
                        <td>{{ candidate.votes }}</td>
                        <td><a href="{{ path('admin_two_vote_info', {'id': candidate.id}) }}" class="btn btn-warning"><i class="fa fa-exclamation-circle"></i></a></td>
                    </tr>
                    {% set rank = rank + 1 %}
                    {#{% set pos = pos + 1 %}#}
                {% endfor %}
                    </tbody>
                </table>
            </div>
            {#<div class="col-md-5">#}
            {#<table class="table table-hover animated fadeIn">#}
            {#<thead>#}
            {#<tr>#}
            {#<th>View Votes By Location</th>#}
            {#<th>Status</th>#}
            {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
            {#{% for location in locations %}#}
            {#<tr>#}
            {#{% if location.name != "City Hall" %}#}
            {#<td>{{ location.name }}</td>#}
            {#<td>#}
            {#<a href="{{ path('admin_status', {'id': location.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i> View</a>#}
            {#</td>#}
            {#{% endif %}#}
            {#</tr>#}
            {#{% endfor %}#}
            {#</tbody>#}
            {#</table>#}
            {#</div>#}
        </div>
    </div>
{% endblock %}

{#{% block javascript %}#}
    {#<script>#}
        {#$(document).ready( function() {#}
            {#$('#tbl_precint').DataTable({#}
                {#"order" : [[ 0, "asc" ]],#}
                {#"columnDefs": [#}
                    {#{#}
                        {#"targets": [2,3],#}
                        {#"searchable": false#}
                    {#},#}
                    {#{#}
                        {#"targets": [3],#}
                        {#"sortable": false#}
                    {#}#}
                {#],#}
                {#"language": {#}
                    {#searchPlaceholder: "Search Precint or Cluster"#}
                {#},#}
            {#});#}
        {#});#}
    {#</script>#}
{#{% endblock %}#}

{% block javascript %}
    <script>
        $(document).ready( function() {

            setTimeout( function () {
                window.location.reload(1);
            }, 60000);

            $('#tbl_1').DataTable({
                "dom": "ft",
                "order" : [[ 3, "desc" ]],
                "columnDefs": [
                    {
                        "targets": [4],
                        "sortable": false
                    }
                ],
                "language": {
                    searchPlaceholder: "Search"
                },
            });

            $('#tbl_2').DataTable({
                "order" : [[ 3, "desc" ]],
                "columnDefs": [
                    {
                        "targets": [4],
                        "sortable": false
                    }
                ],
                "language": {
                    searchPlaceholder: "Search"
                },
            });

            $('#tbl_3').DataTable({
                "dom": "ft",
                "order" : [[ 3, "desc" ]],
                "columnDefs": [
                    {
                        "targets": [4],
                        "sortable": false
                    }
                ],
                "language": {
                    searchPlaceholder: "Search"
                },
            });

            $('#tbl_4').DataTable({
                "order" : [[ 3, "desc" ]],
                "columnDefs": [
                    {
                        "targets": [4],
                        "sortable": false
                    }
                ],
                "language": {
                    searchPlaceholder: "Search"
                },
            });
        });
        //        $(document).ready( function() {
        //            $('#tbl_1').DataTable({
        //                "pageLength": 1,
        //                "dom": 't',
        //                "order" : [[ 3, "desc" ]],
        //                "columnDefs": [
        //                    {
        //                        "targets": [0,1,2,3],
        //                        "sortable": false
        //                    }
        //                ],
        //                "language": {
        //                    searchPlaceholder: "Search Precint or Cluster"
        //                },
        //            });
        //
        //            $('#tbl_2').DataTable({
        //                "pageLength": 7,
        //                "dom": 't',
        //                "order" : [[ 3, "desc" ]],
        //                "columnDefs": [
        //                    {
        //                        "targets": [0,1,2,3],
        //                        "sortable": false
        //                    }
        //                ],
        //                "language": {
        //                    searchPlaceholder: "Search Precint or Cluster"
        //                },
        //            });
        //
        //            $('#tbl_3').DataTable({
        //                "pageLength": 1,
        //                "dom": 't',
        //                "order" : [[ 3, "desc" ]],
        //                "columnDefs": [
        //                    {
        //                        "targets": [0,1,2,3],
        //                        "sortable": false
        //                    }
        //                ],
        //                "language": {
        //                    searchPlaceholder: "Search Precint or Cluster"
        //                },
        //            });
        //
        //            $('#tbl_4').DataTable({
        //                "pageLength": 7,
        //                "dom": 't',
        //                "order" : [[ 3, "desc" ]],
        //                "columnDefs": [
        //                    {
        //                        "targets": [0,1,2,3],
        //                        "sortable": false
        //                    }
        //                ],
        //                "language": {
        //                    searchPlaceholder: "Search Precint or Cluster"
        //                },
        //            });
        //        });
    </script>
{% endblock %}


