{% extends 'base.html.twig' %}
{% block title %}
    Administrator - Vote Information
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {#<h2 class="animated bounceInLeft">Welcome, Administrator!</h2>#}

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <h2 class="text-center"><strong>Vote Information</strong></h2>
                    </h3>
                </div>
                <div class="panel-body">
                    <h3 class="text-warning" style="margin-bottom: 0px;">{{ candidate.name }}</h3>
                    <h4 style="margin-top: 0px;margin-bottom: 0px;"><b>{{ candidate.position.name }}</b></h4>
                    <h2 style="margin-top: 5px;"><span class="label label-warning">{{ totalVotes|number_format }} total votes</span></h2>
                    <hr style="margin-top: 50px;">


                    {% for cluster in clusters %}
                    {% set totalPrecintVotes = 0 %}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="bg-primary">Cluster No.</th>
                            <th class="bg-primary">Votes</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cl in cluster.clusters %}
                            <tr class="bg-info">
                                <td>{{ cl.cl_number }}</td>
                                <td>{{ cl.votes }}</td>
                            </tr>
                            {% set totalPrecintVotes = totalPrecintVotes + cl.votes %}
                        {% else %}
                            <tr>
                                <td colspan="2">No votes found.</td>
                            </tr>
                        {% endfor %}
                        <h4><b>{{ cluster.loc_name }} <span class="label label-info">{{ totalPrecintVotes }} vote(s)</span></b></h4>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

