{% extends 'base.html.twig' %}
{% block title %}
    Update Votes
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" id="candidate-row">
            <h4><b>Polling Place: </b><span><i>{{ cluster.location.name }}</i></span></h4>
            <h4><b>Cluster No.: </b><span><i>{{ cluster.number }}</i></span>
                <b>Precint Nos.: </b><span><i>
                        {% for precint in precints %}
                            {{ precint.number }};
                        {% endfor %}
                    </i></span>
            </h4>

            <h4><b>Total No. of Registered Voters: </b><span><i>{{ cluster.totalVoters }}</i></span></h4>
            <hr>

            {% set cnt = 1 %}
            {% set isDone = false %}
            <form id="frmVote" action="{{ path('encoder_two_add_vote') }}" method="post">
                <input type="hidden" name="cluster" value="{{ cluster.number }}">
                <input type="hidden" name="voteToken" value="{{ csrf_token('new') }}">
                {% for candidate in candidates %}
                {#{{ dump(candidate.id) }}#}
                {% if cnt == candidate.id %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Nickname</th>
                        <th>Vote</th>

                    </tr>
                    </thead>
                    <tbody >
                    <h4 class="text-center"><b>{{ candidate.name }}</b></h4>
                    <hr>
                    {% set cnt = cnt + 1 %}
                    {% endif %}
                    <tr >
                        <td>{{ candidate[0].name }}</td>
                        <td>{{ candidate[0].nickname }}</td>
                        <td>
                            {% if not cluster.isDone %}
                                <input name="votes[{{ candidate[0].id }}]" id="input-{{candidate[0].id}}" candidate_pos="{{ candidate.id }}" type="number" class="form-control" placeholder="0 - {{ cluster.totalVoters }}" min="0" max="{{ cluster.totalVoters }}" required value="{{ candidate['vote'] }}" onkeyup='checkValueInput("input-{{candidate[0].id}}")' /> 
                            {% else %}
                                {% set isDone = true %}
                                <label id="label-{{candidate[0].id}}" name="votes[{{ candidate[0].id }}]"  class="" placeholder="0 - {{ cluster.totalVoters }}" min="0" max="{{ cluster.totalVoters }}" required >{{ candidate['vote'] }}</label>

                                <button id="btn-{{candidate[0].id}}" type="button" class="btn btn-sm btn-success pull-right btnEdit" data-toggle="modal" data-target="#updateVote" voteval="{{candidate['vote']}}" onclick="editclick('{{ candidate[0].id }}','{{ cluster.id }}','{{candidate[0].name}}','{{candidate[0].nickname}}','{{candidate['vote']}}','{{ cluster.totalVoters }}', 'btn-{{candidate[0].id}}')" ><i class="fa fa-edit"></i> Update</button>

                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if not isDone %}
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-lg" style="margin-bottom: 30px;"><i class="fa fa-floppy-o"></i> Save Votes</button>
                    </div>
                {% endif %}

                <div class="modal fade" id="modal-alert">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Exceeded Maximum Voters</h4>
                            </div>
                            <div class="modal-body">
                               The entered votes for the position: <label style="display: inline;" id="display-position"></label> has exceeded to the total number of voters in this clustered precinct. 
                               <br>
                               Max.: <label style="display: inline;">{{cluster.totalVoters}}</label>
                               <br>
                               Total number of entered votes: <label style="display: inline;" id="display-entered-votes"></label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
                                <!-- <button type="submit" class="btn btn-primary">Save changes</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

 <style>
    .loader {
      border: 8px solid #f3f3f3;
      border-radius: 50%;
      border-top: 8px solid #3498db;
      width: 30px;
      height: 30px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>

{% endblock %}

{% block modal %}


    <div class="modal fade" id="updateVote" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading"><i class="fa fa-edit"></i> Update Candidate Vote Count</h4>
              </div>


              <div class="modal-body form-horizontal">

                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Name:</label>
                    <div class="col-sm-9">
                      <label class="control-label" id="modal-candidate-name" ></label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd">Number of Votes:</label>
                    <div class="col-sm-9"> 
                        <input id="inputVoter" type="number" class="form-control" min="0" onkeyup="this.value=this.value.replace(/[^\d]/,'')" />
                        <div id="loader" class="hidden">
                            <div style="padding-left: 20px; padding-top: 10px;">
                                <div class="loader"></div>
                            </div>
                            <label class="control-label">processing...</label>    
                        </div>
                        <div id="notif" class="hidden">
                            <label class="control-label" ><font id="status-notif"></font></label>
                        </div>
                        <div id="timer" class="hidden">
                            <label style="font-size: 12px" id="display-Timer"></h4>
                        </div>
                       <!--  <div id="failedUpdate" class="hidden">
                            <label class="control-label" ><font color="red">Update Failed.</font></label>
                        </div> -->
                            
                    </div>
                  </div>

              </div>

              
                <div class="modal-footer">
                   <button type="submit" class="btn btn-success" id="btnUpdateVote" onclick="updateVote()" ><i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
              </div>

             
           </div>

      </div>
    </div>




{% endblock %}

{% block javascript %}
    <script>
            var candidateGlobal;
            var clusterGlobal;
            var voteGlobal;
            var labelid;
            var urlpath = '{{path("api_client_update_votes")}}';
            var time;
            var timer;
            var btnid;
            var totalVotersGlobal = "{{ cluster.totalVoters }}";

        $(document).ready( function () {

         //alert($("#input-1").val());
            
        });//$(document).ready( function () {

            function checkValueInput(candidateidin)
            {
                //alert($("#"+inputidin).attr("candidate_pos"));
                var i1=0,i2=0,i3=0,i4=0,i5=0,i6=0,i7=0,i8=0,i9=0,i10=0,i11=0,i12=0,i13=0,i14=0,i15=0,i16=0,i17=0,i18=0,i19=0,i20=0,i21=0,i22=0,i23=0,i24=0;
                var i25=0,i26=0,i27=0;
                var i28=0,i29=0,i30=0,i31=0,i32=0,i33=0,i34=0,i35=0,i36=0,i37=0,i38=0,i39=0,i40,i41=0,i42=0,i43=0,i44=0,i45=0,i46=0,i47=0,i48=0,i49=0,i50=0,i51=0;

                var sum1 = 0, sum2 = 0, sum3 = 0, sum4 = 0;
                
                for(var i = 1; i < 4; i++ )
                {
                    
                    sum1 = sum1 + Number($("#input-"+i).val());
                    
                }

                if(sum1>totalVotersGlobal)
                {
                    // alert("You have exceeded the maximum voters for this precinct cluster. Max.: "+totalVotersGlobal);
                    $("#modal-alert").modal();
                    $("#"+candidateidin).val(0);
                    $("#display-position").html("Punong Barangay");
                    $("#display-entered-votes").html(sum1);
                }

                for(var i = 4; i < 28; i++ )
                {
                    
                    sum2 = sum2 + Number($("#input-"+i).val());
                    
                }

                 if(sum2>totalVotersGlobal)
                {
                    // alert("You have exceeded the maximum voters for this precinct cluster. Max.: "+totalVotersGlobal);
                    $("#modal-alert").modal();
                    $("#"+candidateidin).val(0);
                    $("#display-position").html("Barangay Kagawad");
                    $("#display-entered-votes").html(sum2);
                }

                for(var i = 28; i < 31; i++ )
                {
                    
                    sum3 = sum3 + Number($("#input-"+i).val());
                    
                }
                
                 if(sum3>totalVotersGlobal)
                {
                    // alert("You have exceeded the maximum voters for this precinct cluster. Max.: "+totalVotersGlobal);
                    $("#modal-alert").modal();
                    $("#"+candidateidin).val(0);
                    $("#display-position").html("SK Chairman");
                    $("#display-entered-votes").html(sum3);
                }

                for(var i = 31; i < 52; i++ )
                {
                    
                    sum4 = sum4 + Number($("#input-"+i).val());
                    
                }

                 if(sum4>totalVotersGlobal)
                {
                    // alert("You have exceeded the maximum voters for this precinct cluster. Max.: "+totalVotersGlobal);
                    $("#modal-alert").modal();
                    $("#"+candidateidin).val(0);
                    $("#display-position").html("SK Kagawad");
                    $("#display-entered-votes").html(sum4);
                }
               


                // sum2 = i4 + i5 + i6 + i7 + i8 + i9 + i10 + i11 + i12 + i13 + i14 + i15 + i16 + i17 + i18 + i19 + i20 + i21 + i22 + i23 + i24 + i25 + i26 + i27;
 
                //alert(sum2);
                
                
            }
//editClick
            function editclick(candidateID, clusterID, name, nickname, vote, totalVoters, btnidin)
            {
                //alert(btnid);
                var candidateID = candidateID;
                var clusterID = clusterID;
                var name = name;
                var nickname = nickname;
                var vote = vote;
                var totalVoters = totalVoters;
                btnid = btnidin;
                $('#modal-candidate-name').html(name);
                $('#inputVoter').attr('name',name);
                $('#inputVoter').attr('placeholder',"0 - "+totalVoters);
                $('#inputVoter').attr('max', totalVoters);
                $('#inputVoter').val($("#"+btnid).attr("voteval"));
                candidateGlobal = candidateID;
                clusterGlobal = clusterID;
                voteGlobal = vote;
                labelid = candidateID;
                $("#loader").addClass('animated zoomIn');
                $("#loader").addClass('hidden');
                $("#notif").addClass('hidden');
                $("#btnUpdateVote").removeClass('hidden');
                $("#timer").addClass('hidden');
            }


//UpdateVote
            function updateVote()
            {
                var updatedvote = $('#inputVoter').val();
                $("#notif").addClass('hidden');

                if(updatedvote === voteGlobal)
                {
                     $("#notif").removeClass('hidden');
                     $("#notif").addClass('animated jackInTheBox');
                     $("#status-notif").attr('color','orange');
                     $("#status-notif").html("You have entered the same vote value.");
                }
                else
                {
                    $("#loader").removeClass('hidden');
                    $("#loader").addClass('animated zoomIn');
                    
                    $("#btnUpdateVote").prop('disabled', true);
                     $.ajax({
                        url: urlpath, 
                        type: "POST",
                        data: {cluster:clusterGlobal,
                                candidate: candidateGlobal,
                                count: updatedvote},
                        dataType: 'json',
                        success: function(data){
                            if(data.isSuccess == 1)
                            {
                                
                                $("#loader").addClass('hidden');
                                $("#btnUpdateVote").addClass('hidden');
                                $("#btnUpdateVote").prop('disabled', false);

                                $("#label-"+labelid).html(updatedvote);
                                $("#"+btnid).attr("voteval", updatedvote );

                                $("#notif").removeClass('hidden');
                                $("#status-notif").attr('color','green');
                                $("#status-notif").html("Success!");
                                $("#notif").addClass('animated jackInTheBox');
                                $("#timer").removeClass('hidden');
                                 $("#timer").addClass('animated fadeInLeft');
                                time = 2;
                                timer = setInterval(function(){Timer()}, 1000); 
                            }
                            else
                            {
                                $("#notif").removeClass('hidden');
                                $("#notif").addClass('animated jackInTheBox');
                                $("#status-notif").attr('color','red');
                                $("#status-notif").html("Update failed! Try Reloading the page.");
                                $("#btnUpdateVote").prop('disabled', false);
                            }
                        },
                        error: function(data){                    
                            alert('There is something wrong with updating the cadidates votes. Please contact the administrator.');
                            $("#notif").removeClass('hidden');
                            $("#notif").addClass('animated jackInTheBox');
                            $("#status-notif").attr('color','red');
                            $("#status-notif").html("Update failed! Try Reloading the page.");
                            $("#btnUpdateVote").prop('disabled', false);
                        }
                    });   
                }
                    
            }

               
            function Timer()
            {       
                
                if(time <= 0)
                {
                    window.clearInterval(timer);
                    $('#updateVote').modal('hide');

                }
                else
                {
                    time =  time - 1;
                    $('#display-Timer').html("This dialog will automatically close in: " + time + " second(s).");
                }
            }



            // Add Item Validation
//            $('#frmVote').formValidation({
//                framework: 'bootstrap',
//                icon: {
//                    valid: 'glyphicon glyphicon-ok',
//                    invalid: 'glyphicon glyphicon-remove',
//                    validating: 'glyphicon glyphicon-refresh'
//                }
//            });

       // });

    </script>

<!--     {#<script> #}
    {#//        $(document).ready( function() {#}
    {#//            $('#frmVote').formValidation({#}
    {#//                framework: 'bootstrap',#}
    {#//                icon: {#}
    {#//                    valid: 'glyphicon glyphicon-ok',#}
    {#//                    invalid: 'glyphicon glyphicon-remove',#}
    {#//                    validating: 'glyphicon glyphicon-refresh'#}
    {#//                }#}
    {#//            });#}
    {#//            $('#frmVote').formValidation({#}
    {#//                framework: 'bootstrap',#}
    {#//                icon: {#}
    {#//                    valid: 'glyphicon glyphicon-ok',#}
    {#//                    invalid: 'glyphicon glyphicon-remove',#}
    {#//                    validating: 'glyphicon glyphicon-refresh'#}
    {#//                },#}
    {#//                fields: {#}
    {#//                    votes: {#}
    {#//                        validators: {#}
    {#//                            notEmpty: {#}
    {#//                                message: 'The amount is required'#}
    {#//                            },#}
    {#//                            numeric: {#}
    {#//                                message: "Please input a numeric value."#}
    {#//                            }#}
    {#//                        }#}
    {#//                    }#}
    {#//                }#}
    {#//            });#}
    {#});#}
    {#</script>#} -->
{% endblock %}



