{% extends 'base.html.twig' %}
{% block title %}
    Update Votes
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" id="candidate-row">
            <h4><b>Polling Place: </b><span><i>{{ cluster.location.name }}</i></span></h4>
            <h4><b>Cluster No.: </b><span><i>{{ cluster.number }}</i>
                {#</span>#}
                {#<b>Precint Nos.: </b><span><i>#}
                        {#{% for precint in precints %}#}
                            {#{{ precint.number }};#}
                        {#{% endfor %}#}
                    {#</i></span>#}
            </h4>

            <h4><b>Total No. of Registered Voters: </b><span><i>{{ cluster.totalVoters }}</i></span></h4>
            <hr>

            {% set cnt = 1 %}
            {% set isDone = false %}
            <form id="frmVote" action="{{ path('encoder_two_add_vote') }}" method="post">
                <input type="hidden" name="cluster" value="{{ cluster.number }}">
                <input type="hidden" name="voteToken" value="{{ csrf_token('new') }}">
                {% for candidate in candidates %}
                {#{{ dump(candidate.id) }}#}
                {% if cnt == candidate.id %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Nickname</th>
                        <th width="25%">Vote</th>

                    </tr>
                    </thead>
                    <tbody >
                    <h4 class="text-center"><b>{{ candidate.name }}</b></h4>
                    <div class="alert alert-warning" id="notif-{{ candidate.id }}" hidden="true">
                        <strong>Warning</strong> The entered votes for this position has exceeded to the total number of voters in this clustered precinct.
                    </div>
                    <hr>
                    {% set cnt = cnt + 1 %}
                    {% endif %}
                    <tr >
                        <td>{{ candidate[0].name }}</td>
                        <td>{{ candidate[0].nickname }}</td>
                        <td>
                            {% if not cluster.isDone %}
                                <input name="votes[{{ candidate[0].id }}]" id="input-{{candidate[0].id}}" candidate_pos="{{ candidate.id }}" type="number" class="form-control" placeholder="0" min="0" max="" required value="{{ candidate['vote'] }}" onkeypress="return isNumberKey(event)" onkeyup='checkValueInput("input-{{candidate[0].id}}", "input-", "{{ candidate.id }}")' /> 
                            {% else %}
                                {% set isDone = true %}
                                <label id="label-{{candidate[0].id}}" name="votes[{{ candidate[0].id }}]"  class="" placeholder="0 - {{ cluster.totalVoters }}" min="0" max="{{ cluster.totalVoters }}" required >{{ candidate['vote'] }}</label>

                                <button id="btn-{{candidate[0].id}}" type="button" class="btn btn-sm btn-success pull-right btnEdit" data-toggle="modal" data-target="#updateVote" voteval="{{candidate['vote']}}"  onclick="editclick('{{ candidate[0].id }}','{{ cluster.id }}','{{candidate[0].name}}','{{candidate[0].nickname}}','{{candidate['vote']}}','{{ cluster.totalVoters }}', 'btn-{{candidate[0].id}}', 'label-{{ candidate[0].id }}')" ><i class="fa fa-edit"></i> Update</button>

                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if not isDone %}
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-lg" style="margin-bottom: 30px;"><i class="fa fa-floppy-o"></i> Save Votes</button>
                    </div>
                {% endif %}

                <div class="modal fade" id="modal-alert">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Exceeded Maximum Voters</h4>
                            </div>
                            <div class="modal-body">
                               The entered votes for the position: <label style="display: inline;" id="display-position"></label> has exceeded to the total number of voters in this clustered precinct. 
                               <br>
                               Max.: <label style="display: inline;" id="maxVoters"></label>
                               <br>
                               Total number of entered votes: <label style="display: inline;" id="display-entered-votes"></label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
                                <!-- <button type="submit" class="btn btn-primary">Save changes</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

 <style>
    .loader {
      border: 8px solid #f3f3f3;
      border-radius: 50%;
      border-top: 8px solid #3498db;
      width: 30px;
      height: 30px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>

{% endblock %}

{% block modal %}


    <div class="modal fade" id="updateVote" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading"><i class="fa fa-edit"></i> Update Candidate Vote Count</h4>
              </div>


              <div class="modal-body form-horizontal">

                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Name:</label>
                    <div class="col-sm-9">
                      <label class="control-label" id="modal-candidate-name" ></label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd">Number of Votes:</label>
                    <div class="col-sm-9"> 
                        <input id="inputVoter" type="number" class="form-control" min="0" data-candidate-id="" data-label-source=""  onkeyup='checkValueLabel("inputVoter", "label-")' onkeypress="return isNumberKey(event)"  />
                        <div id="loader" class="hidden">
                            <div style="padding-left: 20px; padding-top: 10px;">
                                <div class="loader"></div>
                            </div>
                            <label class="control-label">processing...</label>    
                        </div>
                        <div id="notif" class="hidden">
                            <label class="" style="font-size: 12px" ><font id="status-notif"></font></label>
                        </div>
                        <div id="timer" class="hidden">
                            <label style="font-size: 12px" id="display-Timer"></h4>
                        </div>
                       <!--  <div id="failedUpdate" class="hidden">
                            <label class="control-label" ><font color="red">Update Failed.</font></label>
                        </div> -->
                            
                    </div>
                  </div>

              </div>

              
                <div class="modal-footer">
                   <button type="submit" class="btn btn-success" id="btnUpdateVote" onclick="updateVote()" ><i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
              </div>

             
           </div>

      </div>
    </div>




{% endblock %}

{% block javascript %}
    <script>
            var candidateGlobal;
            var clusterGlobal;
            var voteGlobal;
            var labelid;
            var urlpath = '{{path("api_client_update_votes")}}';
            var time;
            var timer;
            var btnid;
            var totalVotersGlobal = "{{ cluster.totalVoters }}";

        $(document).ready( function () {

            // for(var i = 31; i < 52; i++ )
            // {
                
            //     $("#input-"+i).numeric();
                
            // }
        
            
        });//$(document).ready( function () {


            function isNumberKey(evt) {
                var charCode = (evt.which) ? evt.which : event.keyCode;
                if ((charCode < 48 || charCode > 57))
                    return false;

                return true;
            }

            function checkValueInput(candidateidin, inputtype)//label-, inputVoter
            {
                //alert($("#"+inputidin).attr("candidate_pos"));

                //this.value=this.value.replace(/[^\d]/,'')
                //alert(inputtype + "" + candidateidin);
                //numberOnly(this);
                var sum1 = 0, sum2 = 0, sum3 = 0, sum4 = 0;
                
                for(var i = 1; i < 4; i++ )
                {
                    // if("inputtype-"+i == )
                    // {

                    // }  
                    // else
                    // {
                        sum1 = sum1 + Number($("#"+inputtype+i).val());
                        // alert(Number($("#"+inputtype+i).html()));
                        // break;
                    // }
                    
                }
               // alert(sum1);
                if(sum1>totalVotersGlobal)
                {
//                    $("#modal-alert").modal();
//                    $("#"+candidateidin).val(0);
                    $('#notif-1').show(500);
                    $("#maxVoters").html(totalVotersGlobal);
                    $("#display-position").html("Punong Barangay");
                    $("#display-entered-votes").html(sum1);
                }
                else {
                    $('#notif-1').hide(500);
                }

                for(var i = 4; i < 28; i++ )
                {
                    
                    sum2 = sum2 + Number($("#"+inputtype+i).val());
                    
                }

                 if(sum2>(totalVotersGlobal * 7))
                {
//                    $("#modal-alert").modal();
//                    $("#"+candidateidin).val(0);
                     $('#notif-2').show(500);
                    $("#maxVoters").html(totalVotersGlobal * 7);
                    $("#display-position").html("Barangay Kagawad");
                    $("#display-entered-votes").html(sum2);
                }
                else {
                     $('#notif-2').hide(500);
                 }

                for(var i = 28; i < 31; i++ )
                {
                    
                    sum3 = sum3 + Number($("#"+inputtype+i).val());
                    
                }
                
                 if(sum3>totalVotersGlobal)
                {
//                    $("#modal-alert").modal();
//                    $("#"+candidateidin).val(0);
                     $('#notif-3').show(500);
                    $("#maxVoters").html(totalVotersGlobal);
                    $("#display-position").html("SK Chairman");
                    $("#display-entered-votes").html(sum3);
                }
                else {
                     $('#notif-3').hide(500);
                 }

                for(var i = 31; i < 52; i++ )
                {
                    
                    sum4 = sum4 + Number($("#"+inputtype+i).val());
                    
                }

                 if(sum4>(totalVotersGlobal * 7))
                {
//                    $("#modal-alert").modal();
//                    $("#"+candidateidin).val(0);
                     $('#notif-4').show(500);
                    $("#maxVoters").html(totalVotersGlobal * 7);
                    $("#display-position").html("SK Kagawad");
                    $("#display-entered-votes").html(sum4);
                }   
                else {
                     $('#notif-4').hide(500);
                 }
               


                // sum2 = i4 + i5 + i6 + i7 + i8 + i9 + i10 + i11 + i12 + i13 + i14 + i15 + i16 + i17 + i18 + i19 + i20 + i21 + i22 + i23 + i24 + i25 + i26 + i27;
 
                //alert(sum2);
                
                
            }

            function checkValueLabel(inputvoter, inputtype)//inputVoter, label-
            {   
                var source = $("#"+inputvoter).attr("data-label-source");

                var sum1 = 0, sum2 = 0, sum3 = 0, sum4 = 0;
                
                if($("#"+inputvoter).val() == "")
                {
                    //alert("no value");
                    //$("#"+inputvoter).val(0);
                }

                for(var i = 1; i < 4; i++ )
                {
                    if(inputtype+i == source)
                    {
                        sum1 = sum1 + Number($("#"+inputvoter).val());
                    }  
                    else
                    {
                        sum1 = sum1 + Number($("#"+inputtype+i).html());
                    }
                }
                //alert(sum1);
                if(sum1>totalVotersGlobal)
                {

//                    $("#"+inputvoter).val($("#"+source).html());
                    $("#notif").removeClass('hidden');
                    $("#notif").addClass('animated jackInTheBox');
                    $("#status-notif").attr('color','orange'); 
                    $("#status-notif").html("The entered votes for the position: PUNONG BARANGAY has exceeded to the total number of voters in this clustered precinct.<br> Max: " + totalVotersGlobal +  "<br>  Total number of entered votes: " + sum1);
                }

                


                for(var i = 4; i < 28; i++ )
                {
                    if(inputtype+i == source)
                    {
                        sum2 = sum2 + Number($("#"+inputvoter).val());
                    }  
                    else
                    {
                        sum2 = sum2 + Number($("#"+inputtype+i).html());
                    }
                }

                 if(sum2>(totalVotersGlobal * 7))
                {

//                    $("#"+inputvoter).val($("#"+source).html());
                   $("#notif").removeClass('hidden');
                   $("#notif").addClass('animated jackInTheBox');
                   $("#status-notif").attr('color','orange');
                   $("#status-notif").html("The entered votes for the position: BARANGAY KAGAWAD has exceeded to the total number of voters in this clustered precinct.<br> Max: " + (totalVotersGlobal * 7) +  "<br>  Total number of entered votes: " + sum2);
                }
                
                for(var i = 28; i < 31; i++ )
                {
                    if(inputtype+i == source)
                    {
                        sum3 = sum3 + Number($("#"+inputvoter).val());
                    }  
                    else
                    {
                        sum3 = sum3 + Number($("#"+inputtype+i).html());
                    }
                }
                
                 if(sum3>totalVotersGlobal)
                {

//                    $("#"+inputvoter).val($("#"+source).html());
                   $("#notif").removeClass('hidden');
                   $("#notif").addClass('animated jackInTheBox');
                   $("#status-notif").attr('color','orange');
                   $("#status-notif").html("The entered votes for the position: SK CHAIRMAN has exceeded to the total number of voters in this clustered precinct.<br> Max: " + totalVotersGlobal +  "<br>  Total number of entered votes: " + sum3);
                }
                

                for(var i = 31; i < 52; i++ )
                {
                    if(inputtype+i == source)
                    {
                        sum4 = sum4 + Number($("#"+inputvoter).val());
                    }  
                    else
                    {
                        sum4 = sum4 + Number($("#"+inputtype+i).html());
                    }
                }

                 if(sum4>(totalVotersGlobal * 7))
                {

//                    $("#"+inputvoter).val($("#"+source).html());
                   $("#notif").removeClass('hidden');
                   $("#notif").addClass('animated jackInTheBox');
                   $("#status-notif").attr('color','orange');
                   $("#status-notif").html("The entered votes for the position: SK KAGAWAD has exceeded to the total number of voters in this clustered precinct.<br> Max: " + (totalVotersGlobal * 7) +  "<br>  Total number of entered votes: " + sum4);
                }

                
                // if(sum1 || sum2 || sum3 || sum4 <=  totalVotersGlobal)
                // {
                //     $("#timer").removeClass('hidden');
                //     $("#timer").addClass('animated fadeInLeft');
                //     time = 6;
                //     timer = setInterval(function(){Timer()}, 1000); 

                // }
                // //$("#notif").addClass('hidden');
                
               


                // sum2 = i4 + i5 + i6 + i7 + i8 + i9 + i10 + i11 + i12 + i13 + i14 + i15 + i16 + i17 + i18 + i19 + i20 + i21 + i22 + i23 + i24 + i25 + i26 + i27;
 
                //alert(sum2);
                
                
            }
//editClick
            function editclick(candidateID, clusterID, name, nickname, vote, totalVoters, btnidin, labelplace)
            {
                //alert(btnid);
                //$('#updateVote').modal();
                var candidateID = candidateID;
                var clusterID = clusterID;
                var name = name;
                var nickname = nickname;
                var vote = vote;
                var totalVoters = totalVoters;
                btnid = btnidin;
                $('#modal-candidate-name').html(name);
                $('#inputVoter').attr('data-candidate-id',candidateID);
                $('#inputVoter').attr('data-label-source',labelplace);
                $('#inputVoter').attr('name',name);
                $('#inputVoter').attr('placeholder',"0 - "+totalVoters);
                $('#inputVoter').attr('max', totalVoters);
                $('#inputVoter').val($("#"+btnid).attr("voteval"));
                candidateGlobal = candidateID;
                clusterGlobal = clusterID;
                voteGlobal = vote;
                labelid = candidateID;
                $("#loader").addClass('animated zoomIn');
                $("#loader").addClass('hidden');
                $("#notif").addClass('hidden');
                $("#btnUpdateVote").removeClass('hidden');
                $("#timer").addClass('hidden');
            }


//UpdateVote
            function updateVote()
            {
                var updatedvote = Number($('#inputVoter').val());
                
                //break;
                if(updatedvote == "")
                {

                    updatedvote = 0;
                
                }

                $("#notif").addClass('hidden');

                //checkValueInput("inputVoter",$('#inputVoter').attr('data-candidate-id' )
                //alert(updatedvote + " " + voteGlobal)

                if(updatedvote == voteGlobal )
                {
                     $("#notif").removeClass('hidden');
                     $("#notif").addClass('animated jackInTheBox');
                     $("#status-notif").attr('color','orange');
                     $("#status-notif").html("You have entered the same vote value.");
                }
                else
                {
                    $("#loader").removeClass('hidden');
                    $("#loader").addClass('animated zoomIn');
                    
                    $("#btnUpdateVote").prop('disabled', true);
                     $.ajax({
                        url: urlpath, 
                        type: "POST",
                        data: {cluster:clusterGlobal,
                                candidate: candidateGlobal,
                                count: updatedvote},
                        dataType: 'json',
                        success: function(data){
                            if(data.isSuccess == 1)
                            {
                                
                                $("#loader").addClass('hidden');
                                $("#btnUpdateVote").addClass('hidden');
                                $("#btnUpdateVote").prop('disabled', false);

                                $("#label-"+labelid).html(updatedvote);
                                $("#"+btnid).attr("voteval", updatedvote );

                                $("#notif").removeClass('hidden');
                                $("#status-notif").attr('color','green');
                                $("#status-notif").html("Success!");
                                $("#notif").addClass('animated jackInTheBox');
                                $("#timer").removeClass('hidden');
                                 $("#timer").addClass('animated fadeInLeft');
                                time = 2;
                                timer = setInterval(function(){Timer()}, 1000); 
                            }
                            else
                            {
                                $("#loader").addClass('hidden');
                                $("#notif").removeClass('hidden');
                                $("#notif").addClass('animated jackInTheBox');
                                $("#status-notif").attr('color','red');
                                $("#status-notif").html("Update failed! Please try again or reload/refresh the page.");
                                $("#btnUpdateVote").prop('disabled', false);
                            }
                        },
                        error: function(data){                    
                            alert('There is something wrong with updating the cadidates votes. Please contact the administrator.');
                            $("#notif").removeClass('hidden');
                            $("#notif").addClass('animated jackInTheBox');
                            $("#status-notif").attr('color','red');
                            $("#status-notif").html("Update failed! Try Reloading the page.");
                            $("#btnUpdateVote").prop('disabled', false);
                        }
                    });   
                }
                    
            }

               
            function Timer()
            {       
                
                if(time <= 0)
                {
                    window.clearInterval(timer);
                    $('#updateVote').modal('hide');

                }
                else
                {
                    time =  time - 1;
                    $('#display-Timer').html("This dialog will automatically close in: " + time + " second(s).");
                }
            }



            // Add Item Validation
//            $('#frmVote').formValidation({
//                framework: 'bootstrap',
//                icon: {
//                    valid: 'glyphicon glyphicon-ok',
//                    invalid: 'glyphicon glyphicon-remove',
//                    validating: 'glyphicon glyphicon-refresh'
//                }
//            });

       // });

    </script>

<!--     {#<script> #}
    {#//        $(document).ready( function() {#}
    {#//            $('#frmVote').formValidation({#}
    {#//                framework: 'bootstrap',#}
    {#//                icon: {#}
    {#//                    valid: 'glyphicon glyphicon-ok',#}
    {#//                    invalid: 'glyphicon glyphicon-remove',#}
    {#//                    validating: 'glyphicon glyphicon-refresh'#}
    {#//                }#}
    {#//            });#}
    {#//            $('#frmVote').formValidation({#}
    {#//                framework: 'bootstrap',#}
    {#//                icon: {#}
    {#//                    valid: 'glyphicon glyphicon-ok',#}
    {#//                    invalid: 'glyphicon glyphicon-remove',#}
    {#//                    validating: 'glyphicon glyphicon-refresh'#}
    {#//                },#}
    {#//                fields: {#}
    {#//                    votes: {#}
    {#//                        validators: {#}
    {#//                            notEmpty: {#}
    {#//                                message: 'The amount is required'#}
    {#//                            },#}
    {#//                            numeric: {#}
    {#//                                message: "Please input a numeric value."#}
    {#//                            }#}
    {#//                        }#}
    {#//                    }#}
    {#//                }#}
    {#//            });#}
    {#});#}
    {#</script>#} -->
{% endblock %}



