{# FULL LIST OF APPRPRIATION IN PPMP #}
{#Bootstrap Core CSS #}
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
<page backtop="8mm" backbottom="7mm" backleft="10mm" backright="10mm">
    <page_footer>
        <div style="text-align: right">Page [[page_cu]] of [[page_nb]]</div>
    </page_footer>

    {# TITLE #}
    {#<h3 style="text-align: center; margin-bottom: 3px">Brgy. San Antonio Ranking</h3>#}
    {#<p style="text-align: center; margin-top: 0px">as of {{ date|date("M d, Y - H:i A") }}</p>#}

    {#STYLE#}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #000000;
            text-align: center;
            padding: 5px;
            padding-left: 5px;
            font-size: 13px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .indent {
            padding-left: 10px;
        }
        .align-right {
            text-align: right;
            width: 150px;
        }
        .bold-name {
            font-weight: bold;
            font-size: 18px;
            background-color: rgb(255,255,0.2);
        }
    </style>

    <h2 class="text-info" style="margin-bottom: 0px;"><b>{{ candidate.name }}</b></h2>
    <h4 style="margin-top: 0px;margin-bottom: 0px;"><b>{{ candidate.position.name }}</b></h4>
    <h2 style="text-align: right; margin-top: -35px;"><span>12,{{ totalVotes|number_format }}</span> total votes</h2>
    <hr>

    {% set totalPrecintVotes = 0 %}
    {% for cluster in clusters %}
        <h4>{{ cluster.loc_name }}</h4>
        <table cellpadding="0" cellspacing="0" style="margin-left: 150px;">
            <tr>
                <td width="150"><b>Cluster No.</b></td>
                <td><b>Total Registered Voters</b></td>
                {#<td width="100"><b>Percentage</b></td>#}
                <td width="150"><b>Votes</b></td>
            </tr>
            {% for cl in cluster.clusters %}
            <tr>
                <td style="padding: 0;">{{ cl.cl_number }}</td>
                <td style="padding: 0;">{{ cl.totalVoters }}</td>
                {#<td>{{ ((cl.votes/cl.totalVoters)*100)|number_format(0) }}%</td>#}
                <td style="padding: 0;">{{ cl.votes|number_format }}</td>
            </tr>
                {% set totalPrecintVotes = totalPrecintVotes + cl.votes %}
            {% endfor %}
            <tr>
                <td colspan="2" style="text-align: right;"><b style="font-size: 16px;">Total</b></td>
                <td><b style="font-size: 16px;">{{ totalPrecintVotes|number_format }}</b></td>
            </tr>
            {% set totalPrecintVotes = 0 %}
        </table>
    {% endfor %}
    <p style="text-align: center;">-END-</p>
    <p style="text-align: center; margin: 0;">This is system generated.</p>
</page>